/* .section-title {
  margin: 1.2rem 0;
}

.title-inner {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.title-icon {
  width: 28px;
  height: 28px;
  display: inline-block;
}

.title-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title-text {
  font-family: 'Changa', sans-serif;
  font-size: 1.5rem;
  margin: 0;
} */
