/*! pulse animation */
.bg-linear-rev{
      background: linear-gradient(to bottom, #440000, #e57c7a);
}
.loader {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #f00703f5;
}

/* دائرة بيضاء حول العنصر الأساسي */
.loader::before {
  content: "";
  position: absolute;
  inset: 0px;               
  border-radius: 50%;
  background: white;
  z-index: -1;
}

/* دائرة pulse الصغيرة */
.loader::after {
  content: "";
  position: absolute;
  inset: -15px;               
  border-radius: 50%;
  animation: pulse-small 1.5s infinite ease-out;
  z-index: -2;
}

/* دائرة pulse الكبيرة (عنصر إضافي) */
.loader span {
  position: absolute;
  inset: -10px;               
  border-radius: 50% !important;
  animation: pulse-big 3s infinite ease-out;
  z-index: -3;
}

/* Small pulse */
@keyframes pulse-small {
  0% {
    box-shadow: 0 0 0 0 rgba(219, 67, 40, 0.6);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(219, 67, 40, 0);
  }
}

/* Large pulse */
@keyframes pulse-big {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 120, 105, 0.6);
  }
  100% {
    box-shadow: 0 0 0 30px rgba(255, 120, 105, 0);
  }
}

/*! cards and titles animation */
.service-img {
  transform-origin: center center; 
  transition: none;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.service-title {
  transition: none;
}