.bg-booking {
    background-image: url('/images/book.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 80vh;
    width: 100%;
  
}