<section class="container mx-auto lg:px-20 py-20 ">
    <app-section-title [title]="projectsTitle" customClass="flex justify-start mb-20 ">
    </app-section-title>
    @if (projects.length > 0) {
        <div class="flex flex-col gap-10 relative h-[80vh] pt-30 lg:mx-30 my-10 ">
            @for (project of projects.slice(0, 3); track project.slug; let i = $index) {
                <div #projectCard 
                     class="project-card absolute flex justify-between items-center rounded-3xl p-8 px-10 transition-all duration-300 cursor-pointer"
                     [class]="i === 0 ? '-rotate-4 -translate-y-20 bg-gray-200' : i === 1 ? 'active-card bg-white shadow-lg' : 'rotate-4 translate-y-20 bg-gray-100'"
                     (click)="onCardClick(i)">
                    <div class="w-1/4 p-5 xl:p-10">
                        @if (getResponsiveImage(project.image)) {
                            <img [ngSrc]="getResponsiveImage(project.image)" [alt]="project.title" width="300" height="300" class="w-[300px] xl:w-[200px]">
                        }
                    </div>
                    <div class="h-full w-3/4 p-5 xl:p-10">
                        <h2 class="text-xl text-[#636363] font-medium mb-6">{{ project.category_name }}</h2>
                        <h3 class="text-xl font-bold text-[#440000] mb-6">{{ project.title }}</h3>
                        <p class="mb-12 text-lg font-medium text-[#440000]">{{ project.text }}</p>
                        <span class="underline text-[#ED2924] font-semibold text-xl flex items-center justify-center">عرض تفاصيل
                            المشروع
                            <img ngSrc="images/icons/arrow-left.png" alt="arrow-left" width="32" height="32" class="mx-1 w-8! ">
                        </span>
                    </div>
                </div>
            }
        </div>
    }

    <div class="flex justify-center ">
        <app-app-button [btnText]="btnText"
            customClass="mt-20 ps-7 pe-3 py-4 bg-[#ED2924] text-white rounded-full flex items-center justify-center  transition duration-300">
        </app-app-button>
    </div>
</section>