<section class=" my-20  bg-client-linear ">
    <div class="  bg-clients flex items-center justify-center  flex-col text-center ">
        <div class="container mx-auto lg:px-20">
            <h3 class="text-2xl font-bold text-white">اراء العملاء
            </h3>
            <!-- @if (testimonials.length > 0) {
                <div class="w-full flex items-center justify-center gap-8 my-10">
                    @for (testimonial of testimonials.slice(0, 3); track testimonial.name) {
                        <div>
                            <div><img [src]="getResponsiveImage(testimonial.image)" [alt]="testimonial.name"></div>
                        </div>
                    }
                </div>
                @if (getCurrentTestimonial()) {
                    <p class="text-white text-xl font-semibold  mx-auto">{{ getCurrentTestimonial()!.text }}</p>
                    <div class="flex items-center justify-center my-5  gap-1">
                        <img src="/images/icons/star.png" alt="star">
                        <img src="/images/icons/star.png" alt="star">
                        <img src="/images/icons/star.png" alt="star">
                        <img src="/images/icons/star.png" alt="star">
                        <img src="/images/icons/star.png" alt="star">
                    </div>
                    <span class="block text-3xl mt-10 text-white font-semibold">{{ getCurrentTestimonial()!.name }}</span>
                    <span class="block text-lg mt-2 text-white font-semibold">{{ getCurrentTestimonial()!.title }}</span>
                }
            } -->
        </div>
    </div>
</section>