.typing-indicator {
  display: inline-block;
  animation: blink 1s infinite;
  margin-right: 2px;
  font-weight: 600;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

.subtitle-container {
  overflow: hidden;
  white-space: nowrap;
}

.subtitle-wrapper {
  display: inline-block;
  position: relative;
}

.subtitle-animated {
  display: inline-block;
  white-space: nowrap;
}

