.hero-image {

  position: absolute;
  bottom: 0%;
  left: 0%;

}

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
         .hero-image {
       left: -10%;
    }
}

@media (min-width: 1280px) {
      .hero-image {
       left: 0%;
    }
}

@media (min-width: 1536px) {
    .hero-image {
       left: 10%;
    }
}