<nav
  [class]="isScrolled() ? 'fixed  top-0 container mx-auto lg:px-20 z-50 mt-4 mb-2 transition-all duration-400 ' : 'fixed top-0 container mx-auto lg:px-20 z-50! mt-12 mb-2 transition-all duration-400' ">
  <div class="  p-6 rounded-full bg-white border border-[#ED2924]">
    <div class="relative flex  items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center md:hidden">
        <!-- Mobile menu button-->
        <button type="button" command="--toggle" commandfor="mobile-menu"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-white/5 hover:text-white focus:outline-2 focus:-outline-offset-1 focus:outline-indigo-500">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon"
            aria-hidden="true" class="size-6 in-aria-expanded:hidden">
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon"
            aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
            <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <div class="flex  items-center  justify-evenly lg:justify-between w-full  ">
        <!--! logo -->
        <div class="flex shrink-0 items-center">
          <img src="images/logo/logo.webp" alt="Your Company" class="h-12 w-auto" />
        </div>
        <div class="hidden md:ml-6 md:block ">
          <!--! links -->
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-950/50 text-white", Default: "text-gray-300 hover:bg-white/5 hover:text-white" -->
            <!-- <a href="#" aria-current="page" class="rounded-md bg-gray-950/50 px-3 py-2 text-sm font-medium text-white">Dashboard</a> -->
            <a routerLink="/Home" routerLinkActive="border-b border-[#ED2924]! bg-gray-100"
              class=" px-3 py-2 text-sm xl:text-lg font-semibold  text-[#440000] border-b border-transparent hover:border-b hover:border-[#ED2924] transition-all duration-300   ">
              الرئيسية </a>
            <a routerLink="/About-Us" routerLinkActive="border-b border-[#ED2924]! bg-gray-100   "
              class=" px-3 py-2 text-sm xl:text-lg font-semibold  text-[#440000] border-b border-transparent hover:border-b hover:border-[#ED2924] transition-all duration-300   ">من
              نحن </a>
            <a routerLink="/Services" routerLinkActive="border-b border-[#ED2924]! bg-gray-100  "
              class=" px-3 py-2 text-sm xl:text-lg font-semibold  text-[#440000] border-b border-transparent hover:border-b hover:border-[#ED2924] transition-all duration-300   ">الخدمات
            </a>
            <a routerLink="/Projects" routerLinkActive="border-b border-[#ED2924]! bg-gray-100  "
              class=" px-3 py-2 text-sm xl:text-lg font-semibold  text-[#440000] border-b border-transparent hover:border-b hover:border-[#ED2924] transition-all duration-300   ">المشاريع</a>
            <a routerLink="/Jops" routerLinkActive="border-b border-[#ED2924]! bg-gray-100  "
              class=" px-3 py-2 text-sm xl:text-lg font-semibold  text-[#440000] border-b border-transparent hover:border-b hover:border-[#ED2924] transition-all duration-300   ">الوظائف
            </a>
            <a routerLink="/Blogs" routerLinkActive="border-b border-[#ED2924]! bg-gray-100  "
              class=" px-3 py-2 text-sm xl:text-lg font-semibold  text-[#440000] border-b border-transparent hover:border-b hover:border-[#ED2924] transition-all duration-300   ">المقالات
            </a>
            <!-- <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-[#440000]  ">تواصل معنا </a> -->
          </div>
        </div>
        <div class="ml-4 flex items-center">
          <a routerLink="/Contact-Us"
            class="rounded-full bg-[#ED2924] px-5 py-2.5 text-sm font-medium text-white cursor-pointer hover:bg-red-600 hover:shadow-lg transition-all duration-300">
            تواصل معنا
          </a>
        </div>
      </div>

    </div>
  </div>
  <!--! mobile -->
  <div id="mobile-menu" hidden class="block sm:hidden">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <!-- Current: "bg-gray-950/50 text-white", Default: "text-gray-300 hover:bg-white/5 hover:text-white" -->
      <a routerLink="/Home"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">الرئيسية</a>
      <a routerLink="/About-Us"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">من
        نحن</a>
      <a routerLink="/Services"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">الخدمات</a>
      <a routerLink="/Projects"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">المشاريع</a>
      <a routerLink="/Jops"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">الوظائف</a>
      <a routerLink="/Blogs"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">المقالات</a>
      <a routerLink="/Contact-Us"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">تواصل
        معنا</a>
    </div>
  </div>
</nav>