.bg-hero-footer {
    background-image: url('/images/pattern.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   

}