<footer class="mt-28   ">
    <div class="bg-linear ">
        <div
            class="container mx-auto lg:px-20 bg-hero-footer flex flex-col items-start justify-between space-y-12  pb-8 pt-12 md:flex-row md:space-y-0 md:space-x-12 ">
            <div class="flex w-full flex-col space-y-4  md:w-2/5 ">
                <div class="w-full text-lg font-extrabold md:w-fit ">
                    <img src="/images/logo/logo-light.webp" alt="logo">
                </div>
                <p class="text-sm max-w-xs text-white">
                    نحن شريكك الحقيقي من البداية للنهاية، نقدم لك حلول مبتكرة، تقنيات حديثة ودعم مستمر لضمان أن كل خطوة
                    نحو
                    نجاحك الرقمي متقنة ومثمرة
                </p>
            </div>
            <div class="w-full  text-white md:w-1/5 ">
                <div class="text-sm font-semibold">Company</div>
                <ul class="text-sm">
                    <li class="pt-3">
                        <a class="underline decoration-transparent underline-offset-4 transition hover:decoration-slate-700"
                            href="#" rel="noopener noreferrer" target="_blank">
                            About
                        </a>
                    </li>
                    <li class="pt-3">
                        <a class="underline decoration-transparent underline-offset-4 transition hover:decoration-slate-700"
                            href="#" rel="noopener noreferrer" target="_blank">
                            Terms of Service
                        </a>
                    </li>
                    <li class="pt-3">
                        <a class="underline decoration-transparent underline-offset-4 transition hover:decoration-slate-700"
                            href="#" rel="noopener noreferrer" target="_blank">
                            Privacy Policy
                        </a>
                    </li>
                    <li class="pt-3">
                        <a class="underline decoration-transparent underline-offset-4 transition hover:decoration-slate-700"
                            href="#" rel="noopener noreferrer" target="_blank">
                            Cookie Policy
                        </a>
                    </li>
                    <li class="pt-3">
                        <a class="underline decoration-transparent underline-offset-4 transition hover:decoration-slate-700"
                            href="#" rel="noopener noreferrer" target="_blank">
                            Cookie Policy
                        </a>
                    </li>
                    <li class="pt-3">
                        <a class="underline decoration-transparent underline-offset-4 transition hover:decoration-slate-700"
                            href="#" rel="noopener noreferrer" target="_blank">
                            Cookie Policy
                        </a>
                    </li>
                    <li class="pt-3">
                        <a class="underline decoration-transparent underline-offset-4 transition hover:decoration-slate-700"
                            href="#" rel="noopener noreferrer" target="_blank">
                            Cookie Policy
                        </a>
                    </li>
                    <li class="pt-3">
                        <a class="underline decoration-transparent underline-offset-4 transition hover:decoration-slate-700"
                            href="#" rel="noopener noreferrer" target="_blank">
                            Cookie Policy
                        </a>
                    </li>
                </ul>
            </div>
            <div class="w-full  text-white md:w-1/5 ">
                <div class="text-sm font-semibold">Solutions</div>
                <ul class="text-sm">
                    <li class="pt-3">
                        <a class="underline decoration-transparent underline-offset-4 transition hover:decoration-slate-700"
                            href="#" rel="noopener noreferrer" target="_blank">
                            Business Line of Credit
                        </a>
                    </li>
                    <li class="pt-3">
                        <a class="underline decoration-transparent underline-offset-4 transition hover:decoration-slate-700"
                            href="#" rel="noopener noreferrer" target="_blank">
                            SBA Loan
                        </a>
                    </li>
                    <li class="pt-3">
                        <a class="underline decoration-transparent underline-offset-4 transition hover:decoration-slate-700"
                            href="#" rel="noopener noreferrer" target="_blank">
                            Revenue Based Financing
                        </a>
                    </li>
                    <li class="pt-3">
                        <a class="underline decoration-transparent underline-offset-4 transition hover:decoration-slate-700"
                            href="#" rel="noopener noreferrer" target="_blank">
                            Invoice Factoring
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-[#2B0000]  py-4  text-sm text-white  md:flex-row ">
        <div class="container mx-auto lg:px-20 flex justify-between  items-center">
            <div class="flex items-end">
                <img src="/images/logo/logo-light2.webp" alt="logo" class="me-5  w-16">
                جميع الحقوق محفوظة © 2025
            </div>
            <div>
                <a class="underline text-white">سياسة الخصوصية</a>
            </div>
        </div>
    </div>
</footer>