.bg-card {
    background: linear-gradient(to bottom, #ED2924, #440000);
}

/* Hero Skeleton Custom Colors */
:host ::ng-deep .hero-skeleton .p-skeleton {
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 0.5rem;
}

:host ::ng-deep .hero-skeleton .p-skeleton::after {
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent) !important;
}

:host ::ng-deep .hero-banner-skeleton .p-skeleton {
    background: #B90000 !important;
    border-radius: 0.5rem;
}

:host ::ng-deep .hero-banner-skeleton .p-skeleton::after {
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent) !important;
}