/* You can add global styles to this file, and also import other style files */
/* @import "flag-icons/css/flag-icons.min.css"; */

@import "tailwindcss";
@import "../public/fonts/fonts.css";


/*! colors */

@theme {
    --main-color: #ED2924;
    --primary-font-color: #440000;
}



body {
    font-family: "Cairo", sans-serif !important;

}

.cairo-font{
    font-family: "Cairo", sans-serif !important;
}

h1,
h2 {
    font-family: "Changa", sans-serif;
}



/* ! reusable hero background */
.bg-hero {
    /* background-image: url('/images/hero/hero.webp'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;

}

.bg-linear {
    background: linear-gradient(to left, #440000, #ED2924);
}

/* ! scrollbar styling */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #440000, #ED2924);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #940000;
}