<section class="container mx-auto lg:px-20 py-20">
    <app-section-title [title]="projectsTitle" customClass="flex justify-start mb-4">
    </app-section-title>
    <p class="text-[#636363] text-2xl font-semibold mb-20">نجاحك الرقمي يبدأ بخطوة معنا بداية تصنع الفرق.</p>
    <div class="flex justify-between items-start">
        <div></div>
        <div>
            <img src="/images/map.png" alt="map">
        </div>
    </div>
    <div class="mt-20">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <!-- Full Name -->
            <div class="flex flex-col gap-2">
                <label for="fullName" class="text-[#1E1E1E] text-lg font-medium">الاسم بالكامل</label>
                <span class="p-float-label">
                    <input id="fullName" type="text" pInputText formControlName="fullName" class="w-full" />
                </span>
            </div>

            <!-- Email -->
            <div class="flex flex-col gap-2">
                <label for="email" class="text-[#1E1E1E] text-lg font-medium">البريد الالكتروني</label>
                <span class="p-float-label">
                    <input id="email" type="email" pInputText formControlName="email" class="w-full" />
                </span>
            </div>

            <!-- Phone Number -->
            <div class="flex flex-col gap-2">
                <label for="phone" class="text-[#1E1E1E] text-lg font-medium">رقم الهاتف</label>
                <p-inputGroup>
                    <p-inputGroupAddon class="p-1">
                        <img src="/images/saudi-flag.png" alt="Saudi Flag" class="h-6" />
                        <span class="mx-2">+966</span>
                    </p-inputGroupAddon>
                    <input id="phone" type="tel" pInputText formControlName="phone" class="w-full" />
                </p-inputGroup>
            </div>

            <!-- Message -->
            <div class="flex flex-col gap-2 md:col-span-2">
                <label for="message" class="text-[#1E1E1E] text-lg font-medium">اكتب رسالتك...</label>
                <textarea id="message" rows="5" pInputTextarea formControlName="message" class="w-full"></textarea>
            </div>
        </form>
    </div>

    <div class="flex justify-start ">
        <app-app-button [btnText]="btnText"
            customClass="mt-20 ps-7 pe-3 py-4 bg-[#ED2924] text-white rounded-full flex items-center justify-center  transition duration-300">
        </app-app-button>
    </div>
</section>