<div class="overflow-hidden">
  <div class="sidebar">
    <div class="orbit">
      <div class="orbit-circle"></div>
    </div>
    <div class="flex flex-col items-center justify-center">
      <img src="/images/facebook.png" alt="Facebook" class="icon mb-4 translate-x-24 -translate-y-5" />
      <img src="/images/facebook.png" alt="Facebook" class="icon mb-4 translate-x-[131px] -translate-y-4" />
      <img src="/images/facebook.png" alt="Facebook" class="icon mb-4 translate-x-[148px]" />
      <img src="/images/facebook.png" alt="Facebook" class="icon mb-4 translate-x-[136px] translate-y-6" />
      <img src="/images/facebook.png" alt="Facebook" class="icon mb-4 translate-x-24 translate-y-8" />
    </div>
  </div>
</div>


