.sidebar {
  position: absolute;
  transform: translateY(80%);
  left: -12%;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, #440000 40%);

}

.orbit {
  position: absolute;
  width: 120%;
  height: 120%;
  border-radius: 50%;
  animation: orbit 10s linear infinite;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 4px solid #940000;
  left: -9%;
}


.orbit-circle {
  width: 30px;
  height: 30px;
  background-color: #440000;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
  position: absolute;
  top: -18px;
  transform-origin: center 185px;
}

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}