.sidebar {
  position: absolute;
  transform: translateY(60%);
  left: -40%;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, #440000 40%);
  z-index: 10;
}

/* Tailwind breakpoints */

/* Small screens ≥ 640px */
@media (min-width: 640px) {
  .sidebar {
    transform: translateY(60%);
    left: -35%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
  }
}

/* Medium screens ≥ 768px */
@media (min-width: 768px) {
  .sidebar {
    transform: translateY(60%);
    left: -27%;
  }
}

/* Large screens ≥ 1024px */
@media (min-width: 1024px) {
  .sidebar {
    transform: translateY(60%);
    left: -20%;
  }
}

/* Extra Large screens ≥ 1280px */
@media (min-width: 1280px) {
  .sidebar {
    transform: translateY(60%);
    left: -19%;
  }
}

/* 2XL screens ≥ 1536px */
@media (min-width: 1536px) {
  .sidebar {
    transform: translateY(85%);
    left: -12%;
  }
}


.orbit {
  position: absolute;
  width: 120%;
  height: 120%;
  border-radius: 50%;
  animation: orbit 10s linear infinite;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 4px solid #940000;
  left: -9%;
  pointer-events: none;
  z-index: 1;
}


.orbit-circle {
  width: 30px;
  height: 30px;
  background-color: #440000;
  border-radius: 50%;
  /* box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8); */
  position: absolute;
  top: -18px;
  transform-origin: center 185px;
}

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.icon {
  position: relative;
  z-index: 20;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  display: inline-block;
}

.icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.icon img {
  pointer-events: none;
}
